.icon-3d {
  text-shadow: 1px 1px 2px #000000, 0 0 1em #666666, 0 0 0.2em #666666;
  transform: perspective(1px) translateZ(0);
  transition: transform 0.3s ease-in-out;
}

.icon-3d:hover {
  transform: scale(1.1);
}
.icon-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow effect */
  transition: text-shadow 0.3s ease-in-out; /* Smooth transition on hover */
}

.icon-shadow:hover {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Increases shadow on hover */
}

.icon-3d-container {
  display: inline-block;
  padding: 10px;
  border-radius: 50%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca); /* แสงเงาพื้นหลัง */
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25),
    -8px -8px 16px rgba(255, 255, 255, 0.7); /* เงาแบบนูน */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-3d-container:hover {
  transform: translateY(-10px); /* ยกขึ้นเมื่อ hover */
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.3),
    -8px -8px 30px rgba(255, 255, 255, 0.8); /* ขยายเงาเมื่อ hover */
}

.icon-3d {
  font-size: 18px;
  color: #ffffff; /* สีทองสำหรับไอคอน */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* เงาที่ด้านหลังของไอคอน */
  transition: transform 0.3s ease, filter 0.3s ease;
}

.icon-3d:hover {
  filter: brightness(1.3); /* เพิ่มความสว่างเมื่อ hover */
  transform: scale(1.1); /* ขยายขนาดไอคอนเมื่อ hover */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* ปรับตามขนาดที่ต้องการ */
}

.cursor-pointer {
  text-decoration: none; /* เอาขีดเส้นใต้ในลิงก์ออก */
}

.cursor-pointer:hover {
  text-decoration: none; /* สามารถใส่ขีดเส้นใต้เมื่อ hover ถ้าต้องการ */
}
