/* HomeNews.module.css */
.customButton {
    color: #ff6347; /* Change this to your desired color */
    font-family: 'DOHCOOP', sans-serif;
  }
  
  .customButton:hover {
    color: #e55337; /* Change this to your desired hover color */
    font-family: 'DOHCOOP', sans-serif;
  }
  
  .loadingCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Adjust as needed to match your image size */
    width: 100%;
  }
  